<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SquidChat Tech Demo</title>
</head>
<body>
    <h1>SquidChat Tech Demo</h1>
    <h3>Hey, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Guest{% endif %}</h3>
    <p>{{time}}</p>
    <form action="/logout">
        <input type="submit" value="Log Out" />
    </form>
    <form action="/users/{{current_user.username}}">
        <input type="submit" value="Profile" />
    </form>
    <div style="padding:.5rem;">
    <p>Rooms</p>
    <ul>
        {% for room in rooms %}
            {% if room.is_dm != true %}
            <li><a href="/rooms/{{room._id.room_id}}">{{ room.name }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
    <div style="padding:.5rem;">
    <p>DMs</p>
    <ul>
        {% for user in users %}
            {% if user._id != current_user.username %}
            <li><a href="/view_dm/{{user._id}}">{{ user._id }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
</body>
</html>