<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SquidChat Tech Demo</title>
</head>
<body>
    <h1>{{username}}</h1>
    <img src=http://colingoodman.net:5000/avatars/{{username}} alt="Avatar for {{username}}" width="250" height="250">
    <form disabled="true" action="http://127.0.0.1:5000/avatar/{{username}}" method="POST" enctype="multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </form>
    <p>{{user.email}}</p>
    <a href="/">home</a>
</body>
</html>