<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatting</title>
</head>
<body>
<h1>
    squid.chat
</h1>
<h3>
    You're viewing:
    {% if is_dm == true %}
    DM
    {% else %}
    {{room.name}}
    {% endif %}
</h3>
<div style="display: flex;">
<button type="button" id="load_older_messages_btn">Load older messages</button>
<form action="/">
    <input type="submit" value="Leave" />
</form>
{% if is_admin == true %}
<form action="/rooms/{{room._id}}/edit">
    <input type="submit" value="Edit" />
</form>
{% endif %}
</div>

<div style="display: flex;">
    <div id="rooms" style="padding: .5rem;">
        <a href="/">Home</a>
        <p>Rooms</p>
        <ul>
            {% for room in rooms %}
                {% if room.is_dm != true %}
                <li><a href="/rooms/{{room._id.room_id}}">{{ room.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>DMs</p>
        <ul>
            {% for user in users %}
                {% if user._id != current_user.username %}
                <li><a href="/view_dm/{{user._id}}">{{ user._id }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div style="flex-grow: 1;">
        <div id="messages" style="overflow-y: scroll; width: 100%; padding: .5rem; max-height: 60vh; border: black 3px inset;">
            {% for message in messages %}
            <div style="display:flex; margin-bottom: .25rem;">
                <div class="avatar" style="margin-right: .25rem;">
                    <!-- <img src="https://bit.ly/3a1pfN9" alt="alternatetext" style="width:25px;height:25px;"> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                </div>
                <div class="message-body" style="flex-grow:1"><strong>{{ message.sender }}</strong>&nbsp;<small>{{ message.time_sent }}</small>
                    <br>{{ message.text }}
                </div>
            </div>

            {% endfor %}
        </div>

        <form id="message_input_form">
            <input type="text" style="width: 100%; max-width: 100%;" id="message_input" placeholder="Enter message" autocomplete="off">
            <button type="submit">Send</button>
        </form>
        <!--
        <form disabled="true" action="http://127.0.0.1:5000/upload/{{room._id}}" method="POST" enctype="multipart/form-data">
            <input type = "file" name = "file" />
            <input type = "submit"/>
        </form>-->
    </div>
    <div style="padding: .5rem; min-width: 100px;">
        <ul>
            {% for member in room_members %}
                {% if member.is_room_admin == true %}
                <li>{{ member._id.username }} (admin)</li>
                {% else %}
                <li>{{ member._id.username }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>



</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.0/socket.io.js"></script>
<script>
    const socket = io.connect("http://127.0.0.1:5000");

    socket.on('connect', function () {
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room._id }}"
        });

        let message_input = document.getElementById('message_input');

        var objDiv = document.getElementById("messages");
        objDiv.scrollTop = objDiv.scrollHeight;

        document.getElementById('message_input_form').onsubmit = function (e) {
            e.preventDefault();
            let message = message_input.value.trim();
            if (message.length) {
                socket.emit('send_message', {
                    username: "{{ username }}",
                    room: "{{ room._id }}",
                    message: message
                })
            }

            message_input.value = '';
            message_input.focus();
        }
    });

    let page = 0;

    document.getElementById("load_older_messages_btn").onclick = (e) => {
        page += 1;
        fetch("/rooms/{{ room._id }}/messages?page=" + page, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            response.json().then(messages => {
                messages.reverse().forEach(message => prepend_message(message.text, message.sender, message.time_sent));
            })
        })
    };

    function prepend_message(message, username, time_sent) {
        const newNode = document.createElement('div');
        var nodeAttr = document.createAttribute('style');
        nodeAttr.value = 'display:flex; margin-bottom: .25rem;';
        newNode.setAttributeNode(nodeAttr);
        newNode.innerHTML = `<div class="avatar" style="margin-right: .25rem;">
                    <!-- <img src="https://bit.ly/3a1pfN9" alt="alternatetext" style="width:25px;height:25px;"> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                </div>
                <div class="message-body" style="flex-grow:1"><strong>${username}</strong>&nbsp;<small>${time_sent}</small>
                    <br>${message}
                </div>`;

        const messages_div = document.getElementById('messages');
        messages_div.insertBefore(newNode, messages_div.firstChild);
    }

    window.onbeforeunload = function () {
        socket.emit('leave_room', {
            username: '{{ username }}',
            room: '{{room._id }}'
        })
    }

    socket.on('receive_image', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        var nodeAttr = document.createAttribute('style');
        nodeAttr.value = 'display:flex; margin-bottom: .25rem;';
        newNode.innerHTML = `<div class="avatar" style="margin-right: .25rem;">
                    <!-- <img src="https://bit.ly/3a1pfN9" alt="alternatetext" style="width:25px;height:25px;"> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                </div>
                <div class="message-body" style="flex-grow:1"><strong>${data.author}</strong>&nbsp;<small>${data.time}</small>
                    <img src=${data.image_file_path} />
                </div>`;
    })

    socket.on('receive_image', function (data) {
        console.log(data);

        const newNode = document.createElement('div');
        var nodeAttr = document.createAttribute('style');
        nodeAttr.value = 'display:flex; margin-bottom: .25rem;';
        newNode.setAttributeNode(nodeAttr);
        newNode.innerHTML = `<div class="avatar" style="margin-right: .25rem;">
                    <!-- <img src="https://bit.ly/3a1pfN9" alt="alternatetext" style="width:25px;height:25px;"> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                </div>
                <div class="message-body" style="flex-grow:1"><strong>${data.username}</strong>&nbsp;<small>${data.time_sent}</small>
                    <br>${data.message}
                </div>`;

        document.getElementById('messages').appendChild(newNode);
        var objDiv = document.getElementById("messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    })

    socket.on('join_room_announcement', function (data) {
        console.log(data);
    })

    socket.on('leave_room_announcement', function (data) {
        console.log(data);
    })
</script>
</html>